services:
    frontend:
      container_name: vue-frontend
      build:
        context: ./docker/frontend/
      ports: 
        - "80:5173"
      volumes:
        - ./frontend:/var/www/frontend
        - frontend_volume:/var/www/frontend/node_modules
    backend:
      container_name: node-backend
      build:
        context: ./docker/backend
      environment:
        - NODE_ENV=development
        - ROOT=/home/node/app
      volumes:
        - ./backend:/home/node/app/
        - backend_volume:/home/node/app/node_modules
      ports:
        - "3000:3000"
volumes:
  backend_volume: ~
  frontend_volume: ~