@import "./base.css";

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    grid-template-rows: auto;
    row-gap: 20px;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  }
}
